body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  /*background-color: #edf2f9;*/
  border-top:4px solid #cdcdcd;
  padding-top:20px;

}

.titulo {
color:#000;
font-size:150%;

}

.tabla-registros th {
  background-color:#06a9ca;
  color:#fff;
  font-style:arial;
  font-size:90%;
}
.tabla-registros tr:nth-child(even) {
background-color: #eee;
}
.tabla-registros tr:nth-child(odd) {
background-color: #fff;
}
/*
input[type="button"] {
border: none;
outline:none;
}
*/

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  color:#5D6D7E;
}

a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 95%;
  text-decoration: none;
  color:#000;
}

.espacioUno {
  width: 100%;
  height: 10px;
}

.espacioDos {
  width: 100%;
  height: 20px;
}

.linea {
  border-top: 2px dotted #CCD1D1;
}

.lineaSolida{
  border-top: 2px dotted #CCD1D1;
}


#mostrar-foto {
padding-top:10px;
width:500px;
height:500px;
display:none;
}

#mostrar-baucher {
padding-top:10px;
width:500px;
height:500px;
display:none;
}

#mostrarProgressBar {
 position:relative;
 display:none;
 background-color:transparent;
 justify-content: center;
 align-items: center;
 margin:auto;
 padding:0;
}


#alumno {
  display:none;
}
#alumnoNuevo {
  display:none;
}

.botones {
  padding-top:15px;
}

#depositoInfo {
  display:none;
}

#transferenciaInfo {
  display:none;
}

#depositoInfoExiste {
  display:none;
}

#transferenciaInfoExiste {
  display:none;
}

#transferenciaInfoExiste {display:none;}
#depositoInfoExiste {display:none;}