@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


#containerCards{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#containerCards .card{
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

#containerCards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

#containerCards .card img{
    width: 330px;
    height: 220px;
}


#containerCards .card h4{
    font-weight: 600;
}

#containerCards .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

#containerCards .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}



/********************************************************/
/********************************************************/

#lista4 ol {
    counter-reset: li !important; 
    list-style: none !important; 
    *list-style: decimal !important; 
    font: 21px 'trebuchet MS', 'lucida sans' !important;
    padding: 0 !important;
    margin-bottom: 4em !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.5) !important;
    background: #ccccee !important;
}

#lista4 ol {
    margin: 0 0 0 2em !important; 
}

#lista4 {
    list-style-type: none !important;
    list-style-type: decimal !ie !important; /*IE 7- hack*/
     
    margin: 0 !important;
    margin-left: 3em !important;
    padding: 0 !important;
     
    counter-reset: li-counter !important;
}


#lista4 > li{
    position: relative !important;
    margin-bottom: 10px !important;
    padding: 1em !important;
    border-left: 2px solid #0c155a !important;
    background-color: #ECECEC !important;
}

#lista4 > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #0c155a;
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: -99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;

}



/********************************************************/
/********************************************************/

#lista5 ol {
    counter-reset: li !important; 
    list-style: none !important; 
    *list-style: decimal !important; 
    font: 21px 'trebuchet MS', 'lucida sans' !important;
    padding: 0 !important;
    margin-bottom: 4em !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.5) !important;
    background: #ccccee !important;
}

#lista5 ol {
    margin: 0 0 0 2em !important; 
}

#lista5 {
    list-style-type: none !important;
    list-style-type: decimal !ie !important; /*IE 7- hack*/
     
    margin: 0 !important;
    margin-left: 3em !important;
    padding: 0 !important;
     
    counter-reset: li-counter !important;
}


#lista5 > li{
    position: relative !important;
    margin-bottom: 10px !important;
    padding: 1em !important;
    border-left: 2px solid #0c155a !important;
    background-color: #ECECEC !important;
}

#lista5 > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    line-height: 1;
    overflow: hidden;
     
}

/********************************************************/
/********************************************************/

#lista6 ol {
    counter-reset: li !important; 
    list-style: none !important; 
    *list-style: decimal !important; 
    font: 21px 'trebuchet MS', 'lucida sans' !important;
    padding: 0 !important;
    text-shadow: 0 1px 0 rgba(255,255,255,.5) !important;
    background: #ccccee !important;
}

#lista6 ol {
    margin: 0 0 0 2em !important; 
}

#lista6 {
    list-style-type: none !important;
    list-style-type: decimal !ie !important; /*IE 7- hack*/
     
    margin: 0 !important;
    margin-left: 3em !important;
    padding: 0 !important;
     
    counter-reset: li-counter !important;
}


#lista6 > li{
    position: relative !important;
    margin-bottom: 5px !important;
    padding: 0.5em !important;
    border-left: 2px solid #0c155a !important;
    background-color: #ECECEC !important;
}

#lista6 > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
 
    line-height: 1;
    overflow: hidden;
     
}

/**************************************************************************/
/**************************************************************************/
/**************************************************************************/

.contact_form{  
  width: 420px; 
  height: auto;
  border-radius: 10px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 370px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0c155a; 
  padding-left: 10px;
}


textarea{
  background-color: #fbfbfb; 
  width: 370px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0c155a; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 10px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #db010e; 
  border-color: #db010e; 
  border-style: solid; 
  border-radius: 10px;  
  width: 370px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: #0c155a; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 20px;  
  text-align: letf; 
  color: #0c155a;
}


h3{
  font-size: 14px; 
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}